

* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5px;
    position: relative;
    margin-bottom: 20px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column2 {
    float: left;
    width: 40%;
    height: 30%;
    padding: 0 10px;
  }
  .row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5px;
    position: relative;
    margin-bottom: 20px;
}

.column3 {
    float: left;
    width: 40%;
    height: 30%;
    padding: 0 10px;
  }
  .row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -5px;
    position: relative;
    margin-bottom: 20px;
}
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
  }