@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #F4FAFD;
    overflow-x: hidden;
}

svg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    transform: rotateY(180deg);
    /* width: 100%;
    transform: rotate(-35deg);
    transform-origin: bottom; */
}
/* Adjustments for the login form */
.login-container {
    max-width: 400px;
    margin-top: 100px;
    margin-left: 600px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo3 {
    width: 350px; 
    height: auto; 
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #bbdff5;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
