<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/a095932671.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#bbdff5" fill-opacity="1"
                    d="M0,96L30,90.7C60,85,120,75,180,58.7C240,43,300,21,360,32C420,43,480,85,540,101.3C600,117,660,107,720,96C780,85,840,75,900,80C960,85,1020,107,1080,138.7C1140,171,1200,213,1260,229.3C1320,245,1380,235,1410,229.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
                </path>
            </svg>
        <!-- nav bar -->
            <!-- <nav>
                <div class="logo-container">
                    <img src="{% static 'css/logomc.png' %}" alt="Logo" class="logo">
                </div>
                <ul id="navBar">
                    <li><a href="{% url 'dashboard_view' %}">Dashboard</a></li>
                    <li><a href="{% url 'upload_file' %}">ข้อมูลผู้ป่วย</a></li>
                    <li><a href="{% url 'matchcolumns_view' %}">เปรียบเทียบข้อมูล</a></li>
                    <li><a href="{% url 'history_view' %}">ประวัติการเข้าใช้งาน</a></li>
                </ul>
            </nav> -->
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    
    

    <!-- <footer>
        <p>&copy; 2024 ExcelMatcher. All rights reserved.</p>
    </footer> -->
</body>
</html>