<!-- upload.html -->
{% extends 'base.html' %}


{% block title %}Cliam and Debt Management{% endblock %}

{% block content %}
    <div class="title">
        <p>dashboard</p>
    </div>

<div class="row">
    <div class="column">
        <div class="card">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Card 3</h3>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Card 4</h3>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>
</div>

<div class="row2">
    <div class="column2">
        <div class="card">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>

    <div class="column2">
        <div class="card">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>
</div>

<div class="row3">
    <div class="column3">
        <div class="card">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>

    <div class="column3">
        <div class="card">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
            <p>Some text</p>
        </div>
    </div>
</div>


{% endblock %}