{% extends 'base.html' %}

{% block title %}Cliam and Debt Management{% endblock %}

{% block content %}
    <!-- topic -->
    <div class="top">
        <div class="title">
            <p>Dashboard</p>
        </div>
        <div class="name-tag">
            <p>ฟาซีระห์<i class="fa-solid fa-caret-down"></i></p>
        </div>
    </div>
    <!-- add below this -->
   <!-- b5678-button -->
    <div class="b5678-button">
        <div class="four-button">
            <button></i>5</button>
            <button></i>5</button>
            <button></i>7</button>
            <button></i>8</button>
        </div>
    </div>

    <div class="b12-button">
        <div class="four-button">
            <button></i>1</button>
            <button></i>2</button>
        </div>
        
    </div>

    <div class="b34-button">
        <div class="four-button">
            <button></i>3</button>
            <button></i>4</button>
        </div>
        
    </div>
{% endblock %}
