
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            </a><img src="/static/css/logomc.png" alt="Logo"></a>
            <p>Dashboard</p>
            <div class="name-tag">
                <p>ฟาซีระห์<i class="fa-solid fa-caret-down"></i></p>
            </div>
        </div>
       
    </nav>

    
     
    
 
<div class="grid-container">
    <div class="grid-item b5678-button">
        <div class="four-button">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
        </div>
    </div>
    <div class="grid-item b12-button">
            <button>5</button>
            <button>6</button>
            <button>7</button>
            <button>8</button>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
