<!-- upload.html -->
{% extends 'base.html' %}


{% block title %}Cliam and Debt Management{% endblock %}

{% block content %}
    <!-- topic -->
        <div class="title">
            <p>ประวัติการเข้าใช้งาน</p>
        </div>

    <!-- button -->
        <div class="three-button2">
            <input type="text" id="datepicker" placeholder="Select Date">
            <button><i class="fa-solid fa-filter"></i>กรอง</button>
            <button><i class="fa-solid fa-trash"></i>ลบ</button>
        </div>


    <!-- info table -->
    <section class="data-table">
        <table>
            <thead>
                <tr>
                    <th>ลำดับ</th>
                    <th>วันที่</th>
                    <th>เวลา</th>
                    <th>ชื่อ</th>
                    <th>ตำแหน่ง</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
            </tbody>
        </table>
    </section>

    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file }}
        <br><br>
        {{ form.location }}
        <br><br>
        <button type="submit">Upload</button>
    </form> -->
{% endblock %}
