<!-- upload.html -->
{% extends 'base.html' %}


{% block title %}Cliam and Debt Management{% endblock %}

{% block content %}
    <!-- topic -->
    <div class="top">
        <div class="title">
            <p>ข้อมูลผู้ป่วย</p>
        </div>
        <div class="name-tag">
            <p>ฟาซีระห์<i class="fa-solid fa-caret-down"></i></p>
        </div>
    </div>

    <!-- button -->
    <button>
        <i class="fa-solid fa-upload"></i> อัพโหลดไฟล์
    </button>

    <div class="search-bar">
        <div>
            <input type="text" placeholder="ค้นหา">
            <button><i class="fa-solid fa-search"></i></button>
        </div>
        <div class="three-button">
            <input type="text" id="datepicker" placeholder="Select Date">
            <button><i class="fa-solid fa-filter"></i>กรอง</button>
            <button><i class="fa-solid fa-pen-to-square"></i>แก้ไข</button>
            <button><i class="fa-solid fa-trash"></i>ลบ</button>
        </div>
    </div>


    <!-- info table -->
    <section class="data-table">
        <table>
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 2</th>
                    <th>Column 2</th>
                    <th>Column 2</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <td>Data 2</td>
                    <!-- Add more table data as needed -->
                </tr>
            </tbody>
        </table>
    </section>

    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file }}
        <br><br>
        {{ form.location }}
        <br><br>
        <button type="submit">Upload</button>
    </form> -->
{% endblock %}
