{% extends 'base.html' %}
{% load static %}
{% block title %}Claim and Debt Management{% endblock %}
<link rel="stylesheet" href="{% static 'main.css' %}">

{% block content %}
<main>
    <h1>Upload File</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_file">Choose File:</label>
            {{ form.file }}
        </div>

        <div class="radio-group">
            <label for="id_location">Select Location:</label>
            {{ form.location }}
        </div>

        <div class="radio-group">
            <label for="id_patient_type">Select Patient Type:</label>
            {{ form.patient_type }}
        </div>

        <br><br>
        <button type="submit">Upload</button>
    </form>
</main>
{% endblock %}
